{% extends "crud/form.html" %}
{% load i18n %}

{% block extra_js %}
  <script language="JavaScript">
    window.onload = function(){
      document.getElementById("id_telefone").placeholder = "(__) ____-____";

      $('#id_paciente').prop('disabled', true);
      $('#id_data_nascimento').prop('disabled', true);
    }
    document.getElementById('submit-id-salvar').onclick = function(){
      $('#id_paciente').prop('disabled', false);
      $('#id_data_nascimento').prop('disabled', false);
    };
  </script>
{% endblock extra_js %}
