{% extends "crud/form.html" %}
{% load i18n %}

{% block extra_js %}
  <script language="JavaScript">
    window.onload = function(){
      document.getElementById("id_telefone").placeholder = "(__) ____-____";

      $('#id_paciente').prop('disabled', true);
      $('#id_data_nascimento').prop('disabled', true);
    }

    function total(){
      var total = 0;
      total += parseInt($('input[name=exame_1]:checked').val());
      total += parseInt($('input[name=exame_2]:checked').val());
      total += parseInt($('input[name=exame_3]:checked').val());
      total += parseInt($('input[name=exame_4]:checked').val());
      total += parseInt($('input[name=exame_5]:checked').val());
      total += parseInt($('input[name=exame_6]:checked').val());
      total += parseInt($('input[name=exame_7]:checked').val());
      total += parseInt($('input[name=exame_8]:checked').val());
      total += parseInt($('input[name=exame_9]:checked').val());
      total += parseInt($('input[name=exame_10]:checked').val());

      if(total >= 1 && total <= 10){
        document.getElementById('id_exame_total').value = 'Início da Doença = ' + total;
      }else if(total >= 11 && total <= 20){
        document.getElementById('id_exame_total').value = 'Incapacidade Moderada = ' + total;
      }else if(total >= 21 && total <= 30){
        document.getElementById('id_exame_total').value = 'Doença Grave ou Avançada = ' + total;
      }else{
        document.getElementById('id_exame_total').value = 'Score ainda não determinado.';
      }
    }

    document.getElementById('div_id_exame_1').onchange = function() { total() };
    document.getElementById('div_id_exame_2').onchange = function() { total() };
    document.getElementById('div_id_exame_3').onchange = function() { total() };
    document.getElementById('div_id_exame_4').onchange = function() { total() };
    document.getElementById('div_id_exame_5').onchange = function() { total() };
    document.getElementById('div_id_exame_6').onchange = function() { total() };
    document.getElementById('div_id_exame_7').onchange = function() { total() };
    document.getElementById('div_id_exame_8').onchange = function() { total() };
    document.getElementById('div_id_exame_9').onchange = function() { total() };
    document.getElementById('div_id_exame_10').onchange = function() { total() };

    document.getElementById('submit-id-salvar').onclick = function(){
      $('#id_paciente').prop('disabled', false);
      $('#id_data_nascimento').prop('disabled', false);
    };
  </script>
{% endblock extra_js %}
