{% extends "crud/form.html" %}
{% load i18n %}

{% block extra_js %}
  <script language="JavaScript">
    window.onload = function(){
      $('#id_paciente').prop('disabled', true);
      $('#id_medico').prop('disabled', true);
      $('#id_especialidade').prop('disabled', true);
      $('#id_data').prop('disabled', true);
      $('#id_hora').prop('disabled', true);

    }
    document.getElementById('submit-id-salvar').onclick = function(){
      $('#id_paciente').prop('disabled', false);
      $('#id_medico').prop('disabled', false);
      $('#id_especialidade').prop('disabled', false);
      $('#id_data').prop('disabled', false);
      $('#id_hora').prop('disabled', false);
    };
  </script>
{% endblock extra_js %}
