input[type="text"] {
  height: 30px;
}

input[type="password"] {
  height: 30px;
}

input[type="search"] {
  height: 28px;
}

.btn-primary {
    background-color: #001aff !important;
}

.btn-primary:hover {
    background-color: #0000bf !important;
}

.btn-danger {
    background-color: #d30000 !important;
}

.btn-danger:hover {
    background-color: #aa0000 !important;
}

.pagination_button {
    background-color: #001aff !important;
}
